version: 2
jobs:
  build:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - checkout
      - run: docker-compose pull pg
      - run: docker-compose up -d --no-build
      - run: curl -L https://golang.org/dl/go1.16.linux-amd64.tar.gz > /tmp/go1.16.linux-amd64.tar.gz
      - run: tar -C /tmp -xzf /tmp/go1.16.linux-amd64.tar.gz
      - run: export PATH=$PATH:/tmp/go/bin
      - run: curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
      - run: chmod +x ./cc-test-reporter
      - run: go get -v -t -d ./...
      - run: ./cc-test-reporter before-build
      - run: go test -race -p 1 -coverprofile=./c.out ./...
      - run: ./cc-test-reporter after-build -p $(go list -m) --exit-code $?